@import 'https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Fredericka+the+Great:wght@400;700&family=Rubik+Burned&display=swap';


table {
    border-collapse: collapse;
    margin: 20px auto;
}

th,
td {
    font-size: 15px;
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;

}

html {
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
    box-sizing: border-box;
    margin: 0;
}

/*part 1*/

/*part2*/
a {
    text-decoration: none;
}

.container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

p,
caption {
    color: black;
    font-size: 15px;
    margin-top: 5px;
    letter-spacing: 0.05rem;
}

.section-title {
    font-size: 4rem;
    font-weight: 300;
    color: black;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    text-align: center;
}

.section-title span {
    color: darkgreen;
}

.cta {
    display: inline-block;
    padding: 10px;
    border-radius: 5px;
    color: darkgreen;
    font-family: 'Montserrat', sans-serif;
    background-color: transparent;
    border: 2px solid darkgreen;
    z-index: 10;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    transition: .3s ease;
    transition-property: background-color, color;
}

.cta:hover {
    color: white;
    z-index: 10;
    background-color: darkgreen;
}

.cta:focus{
    outline: none;
    box-shadow: 0 0 10px rgba(0, 100, 0, 0.596);

}

.nav-bar .cta{
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

.brand h1 {
    font-size: 30px;
    text-transform: uppercase;
    color: white;
}

.brand h1 span {
    color: darkgreen;
}

.section-ul ul, ol {
    text-align: start;
    font-size: 15px;
}

.section-ul li {
    margin-bottom: 5px;
    color: white;
}

/*General*/

#header {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
}

.header {
    min-height: 8vh;
    background-color: rgba(30, 31, 30, 0.24);
    transition: 0.3s ease background-color;
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1500px;
    width: 100%;
    padding: 0 10px;
}

.nav-list ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    position: static;
    width: auto;
    height: auto;
}

.nav-list ul a {
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    color: rgb(32, 32, 32);
    text-transform: uppercase;
    padding: 10px 20px;
    display: inline-block;
    position: relative;
}

.nav-list ul li {
    display: inline-block;
    margin: 0 10px;
}

.nav-list ul li:hover a {
    color: darkgreen;
}

/*Head*/

#hero {
    background-color: darkgray;
}

#hero h1 {
    display: block;
    width: fit-content;
    font-size: 4rem;
    position: relative;
    color: transparent;
    z-index: 10;
    color: black;
}

#hero span {
    color: darkgreen;
}

#hero .text-block {
    padding-right: 40rem;
    padding-left: 40rem;
}

/*Hero*/

.section-container {
    flex-direction: column;
    text-align: center;
    max-width: 1500px;
    margin: 0 auto;
    padding: 100px 0;
}

.top {
    max-width: 500px;
    margin: 0 auto;
}

.section-container .section-subtitle {
    color: black;
    text-align: center;
}

.bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
}

.item {
    flex-basis: 80%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 30px;
    border-radius: 10px;
    background-size: cover;
    margin: 10px 5%;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.item::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    opacity: 0.9;
    z-index: -1;
}

.bottom .icon {
    height: auto;
    width: auto;
    margin-bottom: 20px;
}

.item h2 {
    font-size: 2rem;
    color: white;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.section-container p {
    color: white;
    text-align: left;
}

.subs {
    display: flex;
    align-items: center;
    gap: 10px;
}

/*exmpl to be re-named based on requirements*/

.all-exmpls {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.exmpl-info {
    padding: 30px;
    flex-basis: 50%;
    height: auto;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    color: white;
}

.exmpl-info h1 {
    font-size: 4rem;
    font-weight: 500;
}

.exmpl-info h2 {
    font-size: 1.8rem;
    font-weight: 500;
    margin-top: 10px;
}

.exmpl-item {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 84%;
    margin: 20px auto;
    border-radius: 10px;
    background: rgb(14, 12, 12);
    min-height: 300px;
    /* Ensures a minimum height */
    overflow: hidden;
}

.exmpl-cont {
    flex-basis: 50%;
    display: flex;
    align-items: stretch;
    /* Allows content to take full height */
    justify-content: center;
    overflow: hidden;
}

.exmpl-cont img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.select-label {
    display: flex;
    flex-direction: column;
    align-items: start;
    font-size: 25px;
    margin: 10px;
    font-family: 'Montserrat', sans-serif;
}

.cta-disabled {
    display: inline-block;
    padding: 10px 30px;
    color: darkgray;
    font-family: 'Montserrat', sans-serif;
    background-color: transparent;
    border: 2px solid darkgray;
    z-index: 10;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

.abi {
    font-weight: 100;
    color: mediumslateblue;
    font-size: 20px;
    font-family: "Fredericka the Great", serif;
}

.abi:hover {
    text-decoration: underline;
}

/*part1*/
.inline-form{
    display: block;
}
