@import 'https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Fredericka+the+Great:wght@400;700&family=Rubik+Burned&display=swap';


html {
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
    box-sizing: border-box;
    margin: 0;
    overflow-x: hidden;
}

/*part2*/
a {
    text-decoration: none;
}

.container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

p,
caption {
    color: black;
    font-size: 15px;
    margin-top: 5px;
    letter-spacing: 0.05rem;
}

.section-title {
    font-size: 4rem;
    font-weight: 300;
    color: black;
    margin-bottom: 10px;
    text-transform: uppercase;
    text-align: center;
}

.section-title span {
    color: darkgreen;
}

.cta {
    display: inline-block;
    padding: 10px 30px;
    color: darkgreen;
    font-family: 'Montserrat', sans-serif;
    background-color: transparent;
    border: 2px solid darkgreen;
    z-index: 10;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    margin-top: 10px;
    transition: .3s ease;
    transition-property: background-color, color;
}

.cta:hover {
    color: white;
    z-index: 10;
    background-color: darkgreen;
}

.brand h1 {
    font-size: 30px;
    text-transform: uppercase;
    color: white;
}

.brand h1 span {
    color: darkgreen;
}

.main-nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.main-nav .cta {
    font-size: 15px;
    text-transform: none;

}

.section-ul ul, ol {
    text-align: start;
    font-size: 15px;
}

.section-ul li {
    margin-bottom: 5px;
    color: white;
}

/*General*/

#header {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
}

.header {
    min-height: 8vh;
    background-color: rgba(30, 31, 30, 0.24);
    transition: 0.3s ease background-color;
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1500px;
    width: 100%;
    padding: 0 10px;
}

.nav-list ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    position: static;
    width: auto;
    height: auto;
}

.nav-list ul a {
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    color: rgb(32, 32, 32);
    text-transform: uppercase;
    padding: 10px 20px;
    display: inline-block;
    position: relative;
}

.nav-list ul li {
    display: inline-block;
    margin: 0 10px;
}

.nav-list ul li:hover a {
    color: darkgreen;
}

/*Head*/

#hero {
    background-color: darkgray;
}

#hero h1 {
    display: block;
    width: fit-content;
    font-size: 4rem;
    position: relative;
    color: transparent;
    z-index: 10;
    animation: text_reveal 0.5s ease forwards;
    animation-delay: 1s;
    color: black;
}

#hero span {
    color: darkgreen;
}

#hero .text-block {
    padding-right: 50rem;
    padding-left: 50rem;
}

/*Hero*/

.section-container {
    flex-direction: column;
    text-align: center;
    max-width: 1500px;
    margin: 0 auto;
    padding: 100px 0;
    overflow-x: hidden;
}

.top {
    max-width: 500px;
    margin: 0 auto;
}

.section-container .section-subtitle {
    color: black;
    text-align: center;
}

.bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
}

.item {
    flex-basis: 80%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 30px;
    border-radius: 10px;
    background-size: cover;
    margin: 10px 5%;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.item::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    opacity: 0.9;
    z-index: -1;
}

.bottom .icon {
    height: auto;
    width: auto;
    margin-bottom: 20px;
}

.item h2 {
    font-size: 2rem;
    color: white;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.section-container p {
    color: white;
    text-align: left;
}

.subs {
    display: flex;
    align-items: center;
    gap: 10px;
}

.all-exmpls {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.exmpl-info {
    padding: 30px;
    flex-basis: 50%;
    height: auto;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    color: white;
}

.exmpl-info h1 {
    font-size: 4rem;
    font-weight: 500;
}

.exmpl-info h2 {
    font-size: 1.8rem;
    font-weight: 500;
    margin-top: 10px;
}

.exmpl-item {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 84%;
    margin: 20px auto;
    border-radius: 10px;
    background: rgb(14, 12, 12);
    min-height: 300px;
    /* Ensures a minimum height */
    overflow: hidden;
}

.exmpl-cont {
    flex-basis: 50%;
    display: flex;
    align-items: stretch;
    /* Allows content to take full height */
    justify-content: center;
    overflow: hidden;
}

.exmpl-cont img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

/* End U1 Section */

/*part2*/
.slider {
    border: 1px solid black;
    border-radius: 10px;
    width: auto;
    max-height: 400px;
}

.select-label {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 25px;
    margin-top: 10px;
    font-family: 'Montserrat', sans-serif;
}

.cta-disabled {
    display: inline-block;
    padding: 10px 30px;
    color: darkgray;
    font-family: 'Montserrat', sans-serif;
    background-color: transparent;
    border: 2px solid darkgray;
    z-index: 10;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    margin-top: 10px;
}

#canvas .section-container {
    padding: 0px;
}


.abi {
    font-weight: 100;
    color: mediumslateblue;
    font-size: 20px;
    font-family: "Fredericka the Great", serif;
}

.abi:hover {
    text-decoration: underline;
}

code{
    color: aqua;
}

/*part2*/

/*part3&4*/
.faves{
    display: flex;
    flex-direction: row;
}

.faves .exmpl-item{
    margin: 10px;
}

#footer {
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}
#footer .footer {
    display: flex;
	min-height: 10rem;
    width: auto;
	padding: 20px;
    justify-content: space-between;
    align-items: flex-start;
}
#footer h2 {
	color: white;
	font-weight: 500;
	font-size: 1.8rem;
	letter-spacing: 0.1rem;
	margin-top: 10px;
	margin-bottom: 10px;
}
#footer .social-icon {
	display: flex;
	margin-bottom: 30px;
    justify-content: space-between;
}
#footer .social-item {
	height: 50px;
	width: 50px;
	margin: 0 5px;
}
#footer .social-item img {
    height: 100%;
    width: auto;
	filter: grayscale(1);
	transition: 0.3s ease filter;
}
#footer .social-item:hover img {
	filter: grayscale(0);
}
#footer p {
	color: white;
	font-size: 1.3rem;
}
/*part3&4*/

.card-section{
    margin-bottom: 25px;
}

.card-section h1{
    font-size: 4rem;
    font-weight: 300;
    color: black;
    margin: 10px;
    text-transform: uppercase;
    text-align: left;
}

.card-row{
    display: flex;
}

.card-row span{
    color: darkgreen;
}

.card{
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    border-radius: 10px;
    padding: 10px;
    max-width: 30rem;
    text-align: start;
    margin: 10px;;

}

.card h2{
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.payement, .select-comps{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.select-comps h1{

}

#form1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.payement{
    border: solid 1px darkgreen;
    border-radius: 5px;
    padding: 20px;
}



#form2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bill-label{
    font-size: 15px;
}